/* Common Colors */
$white: #fff;
$bg-overlay: #333;
$button-background: #ff3636;
$button-color: #fff;
$button-hover: #333;
$gray: #eee;
$black: #333;

/* Theme Colors */
$primary-color: #ff3636;
$heading-color: #ff3636;
$link-color: #333;
$link-hover: #ff3636;
$border-color: #333;
$gray-background: #f6f6f6;
